doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      header.my-4
        ul.nav.justify-content-end
          li.nav-item
            a.nav-link(href='/') Home
          if user
            li.nav-item
              a.nav-link(href='/users/profile') Profile
            li.nav-item
              a.nav-link(href='/users/logout') Logout
          else
            li.nav-item
              a.nav-link(href='/users/register') Register
            li.nav-item
              a.nav-link(href='/users/login') Login
          

      block content
