extends ../layout

block content
  .row
    .col-md-4
      h4 Please Register
      if messages
        each msg in messages
          .alert.alert-danger #{msg}
      form(action="" method="post")
        .form-group
          label(for="username") Username
          input.form-control(type="text", id="username", name="username")
        .form-group
          label(for="email") Email
          input.form-control(type="email", id="email", name="email")
        .form-group
          label(for="username") Password
          input.form-control(type="password", id="password", name="password")
        button.btn.btn-primary(type="submit") Submit